 p{
    border:1px solid black;
     /* min-height: 100px;  */
    /* height: 100px;
    overflow:visible; 
    overflow: hidden; 
    overflow: scroll; */
 }
/* span{
    border: 1px solid black;
   
}
p{
    border: 1px solid black;
    
} */
/* span{
    border: 1px solid black;
    display: inline-block;
    min-width: 250px;
}
p{
    border: 1px solid black;
    display: inline-block;
    min-width: 250px;
    
} */
#span1{
    border: 1px solid black;
    display: inline-block;
    width: 250px;
}

 