/* div>p{
    background-color: bisque;
} */
/* div>p:first-child{
    background-color:pink;
} */
/* div>p:last-child{
    background-color: bisque;
} */
/* div>p:nth-child(odd){
    background-color: aquamarine;

} */
/* div>p:nth-child(even){
    background-color: yellow;

} */
/* div>p:nth-child(2n){
background-color: blue;
} */
/* div>p:nth-child(2){
    background-color: brown;
    } */
    /* div>p:nth-child(3){
        background-color: indianred;
        } */
/* div>p:nth-child(2n-1){
    background-color:orchid;
    } */
    /* div>i:first-of-type{
        background-color: red;
    } */
    /* div>i:last-of-type{
        background-color: red;
    } */
    div>i:nth-of-type(2){
        background-color: yellow;
    }

