#navigation{
    border: 1px solid black;
    height: 80px;
    line-height: 70px;
    word-spacing:150px;
    text-align: center;
    background-color: aqua;
}
#home-content
        {
            height:100vh;
            text-align: center;
            border: 1px solid black;
        }
        a{
            text-decoration: none;
        }
p{
  color:brown;
  text-align: center;
  text-shadow: 1px 1px black;
  text-indent: 100px;
  word-spacing: 25px;
  letter-spacing: 2px;
  line-height: 75px;
  }
  button{
    font-size: xx-large;
  }
  button:hover{
    background-color: orange;
    text-align: center;
 }

